#  WeRateDogs Project

# Introduction 

In this project we are going to do data wrangling process. Data Wrangling is one of the most important process in data analysis. Data Warngling flow works like *Gather,Access* and *Clean*,  once it is done we get down to solving problem by analysis, moreover data wrangling is an iterative process we can get back the wrangling process even after we start analysing our data's through plots and graphs.

Through out this project we will go in a step by step process of **Data Wrangling**,
- Gather
- Access 
- Clean

# Gather 

In this Project we are going to use [WeRateDogs](https://en.wikipedia.org/wiki/WeRateDogs) for the data Wrangling Process.

- The WeRateDogs Twitter archive. We will download this file manually by clicking the following link: twitter_archive_enhanced.csv
- The tweet image predictions, i.e., what breed of dog (or other object, animal, etc.) is present in each tweet according to a neural network. This file (image_predictions.tsv) hosted on Udacity's servers and should be downloaded programmatically using the Requests library and the following URL: https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv
- Each tweet's retweet count and favorite (i.e. "like") count at minimum, and any additional data we will find interesting. Using the tweet IDs in the WeRateDogs Twitter archive, we will query the Twitter API for each tweet's JSON data using Python's Tweepy library and store each tweet's entire set of JSON data in a file called tweet_json.txt file. Each tweet's JSON data should be written to its own line. Then we will read this .txt file line by line into a pandas DataFrame with (at minimum) tweet ID, retweet count, and favorite count.

In [1]:
# Importing the required Libraries 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import tweepy
import json
import time
import requests
from nltk import pos_tag
import re

In [2]:
# Reading the twitter-archive csv file and importing it into a dataframe format
df = pd.read_csv("twitter-archive-enhanced.csv", encoding = 'utf-8')
# Checking the header for testing
df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [3]:
# Checking for the total number of rows and column using the info function 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

It has **2356 recordes** and **17 columns**

In [4]:
# Importing the image-prediction dataset in to a dataframe 
images= pd.read_csv("image-predictions.tsv", delimiter= '\t', encoding = 'utf-8')
# Testing the dataframe using the header
images.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [5]:
# Checking for the missing rows of each column using the info function 
images.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

Image dataframe has **2075 rows and 12 columns**

In [6]:
# Autontification to twetter API

# Generate your own at https://apps.twitter.com/app
# CONSUMER_KEY = 'Consumer Key (API key)'
# CONSUMER_SECRET = 'Consumer Secret (API Secret)'
# OAUTH_TOKEN = 'Access Token'
# OAUTH_TOKEN_SECRET = 'Access Token Secret'

consumer_key = 'Hd91N2OI32xliHjqxecVHKZou'
consumer_secret = 'x1W4DvSQ6lF8xrj2VYSKteMcMSBwa3SSbPNscJfj3tvj9bRxkx'
access_token = '1048995689617936385-eJczPjQh9OrjbUMD3JDVnimSQ3q6YE'
access_token_secret = 'kBWfb9YmbBtMlTjuMiyWDk9UtfTNSIu8xWEIeNaohb0qc'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)

# Construct the API instance
api = tweepy.API(auth, 
                 parser = tweepy.parsers.JSONParser(), # Parse the result to Json Object
                 wait_on_rate_limit = True, # Automatically wait for rate limits to replenish
                 wait_on_rate_limit_notify = True) # Print a notification when Tweepy is waiting for rate limits to replenish

In [7]:
# Liste where we will store the dictionaries of our result
df_list = []
# Liste frame where we will store the tweet_id of the errors
error_list = []

# Calculate the time of excution
start = time.time()

# Get the tweet object for all the teweets in archive dataframe 
for tweet_id in df['tweet_id']:
    try:
        page = api.get_status(tweet_id, tweet_mode = 'extended')
        # Print one page to look at the structure of the returned file
        # and the names of attributes
        # print(json.dumps(page, indent = 4))
        #break
        
        favorites = page['favorite_count'] # How many favorites the tweet had
        retweets = page['retweet_count'] # Count of the retweet
        user_followers = page['user']['followers_count'] # How many followers the user had
        user_favourites = page['user']['favourites_count'] # How many favorites the user had
        date_time = page['created_at'] # The date and time of the creation
        
        df_list.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorites),
                        'retweets': int(retweets),
                        'user_followers': int(user_followers),
                        'user_favourites': int(user_favourites),
                        'date_time': pd.to_datetime(date_time)})
    
    # Catch the exceptions of the TweepError
    except Exception as e:
        print(str(tweet_id)+ " _ " + str(e))
        error_list.append(tweet_id)

# Calculate the time of excution
end = time.time()
print(end - start)

888202515573088257 _ [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 _ [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 _ [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 _ [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 _ [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 _ [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 _ [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 _ [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 _ [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 _ [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 _ [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 _ [{'code': 144, 'message': 'No status found with that ID.'}]
771004394259247104 _ [{'code': 179, 'message': 'Sorry, you are not authorized to see this status.'}]
770743923962707968 _ [{'code': 144, 'message': 'No status found with that ID.'}]
Rate limit reached. Sleeping for: 729
754011816964026368 _ [{'code': 144, 'message': 'No status found with that ID.'}]
Rate limit reached. Sleeping for: 730
1915.0668306350708

In [8]:
# lengh of the result
print("The lengh of the result", len(df_list))
# The tweet_id of the errors
print("The lengh of the errors", len(error_list))

The lengh of the result 2341
The lengh of the errors 15

From the above results:

The total time was about 1980 seconds (~ 31 min)
We could get 2349 tweet_id correctly with 15 errors

In [9]:
# now we are going to do the same operation for the tweet_ids that we coudln't get and append the result to df_list
ee_list = []
for e in error_list:
    try:
        favorites = page['favorite_count']
        retweets = page['retweet_count']
        user_followers = page['user']['followers_count']
        user_favourites = page['user']['favourites_count']
        date_time = page['created_at']
        
        df_list.append({'tweet_id': int(tweet_id),
                        'favorites': int(favorites),
                        'retweets': int(retweets),
                        'user_followers': int(user_followers),
                        'user_favourites': int(user_favourites),
                        'date_time': pd.to_datetime(date_time)})
        
    except Exception:
        print(str(tweet_id)+ " _ " + str(e))
        ee_list.append(e)

In [10]:
# lengh of the final result with all the error result in to the final result
print("The lengh of the result after Querying the errors separately", len(df_list))

The lengh of the result after Querying the errors separately 2356

In [11]:
#Creatinga  dataframe from a dictionaries 
final_tweets = pd.DataFrame(df_list, columns = ['tweet_id', 'favorites', 'retweets',
                                               'user_followers', 'user_favourites', 'date_time'])
# Read the header of the file 
final_tweets.head()

,tweet_id,favorites,retweets,user_followers,user_favourites,date_time
0,892420643555336193,38298,8405,7377937,138949,2017-08-01 16:23:56
1,892177421306343426,32826,6196,7377937,138949,2017-08-01 00:17:27
2,891815181378084864,24720,4100,7377937,138949,2017-07-31 00:18:03
3,891689557279858688,41631,8532,7377937,138949,2017-07-30 15:58:51
4,891327558926688256,39800,9251,7377937,138949,2017-07-29 16:00:24

In [12]:
# Export the dataframe to a file 
final_tweets.to_csv('fianl_tweets.txt', encoding = 'utf-8', index=False)

In [13]:
final_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id           2356 non-null int64
favorites          2356 non-null int64
retweets           2356 non-null int64
user_followers     2356 non-null int64
user_favourites    2356 non-null int64
date_time          2356 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5)
memory usage: 110.5 KB

There is no variable with missing columns

# Gather: Summary

Gathering is the first step in the data wrangling process. We could finish the high-level gathering process:

- Obtaining data

- Getting data from an existing file (twitter-archive-enhanced.csv) Reading from csv file using pandas
- Downloading a file from the internet (image-predictions.tsv) Downloading file using requests
- Querying an API (tweet_json.txt) Get JSON object of all the tweet_ids using Tweepy
- Importing that data into our programming environment (Jupyter Notebook)

# Assess

After gathering each of the above pieces of data, assess them visually and programmatically for quality and tidiness issues will be our newt step. We will detect and document at quality issues and tidiness issues.

In [14]:
# Print all archive dataset to assess it visually
df

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
20,888078434458587136,NaN,NaN,2017-07-20 16:49:33 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Gerald. He was just told he didn't get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,None,None,None,None
21,887705289381826560,NaN,NaN,2017-07-19 16:06:48 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jeffrey. He has a monopoly on the pool...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,None,None,None,None
22,887517139158093824,NaN,NaN,2017-07-19 03:39:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've yet to rate a Venezuelan Hover Wiener. Th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887517139...,14,10,such,None,None,None,None
23,887473957103951883,NaN,NaN,2017-07-19 00:47:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Canela. She attempted some fancy porch...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None
24,887343217045368832,NaN,NaN,2017-07-18 16:08:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",You may not have known you needed to see this ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887343217...,13,10,None,None,None,None,None
25,887101392804085760,NaN,NaN,2017-07-18 00:07:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This... is a Jubilant Antarctic House Bear. We...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887101392...,12,10,None,None,None,None,None
26,886983233522544640,NaN,NaN,2017-07-17 16:17:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Maya. She's very shy. Rarely leaves he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,None,None,None,None
27,886736880519319552,NaN,NaN,2017-07-16 23:58:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Mingus. He's a wonderful father to his...,NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,None,None,None,None
28,886680336477933568,NaN,NaN,2017-07-16 20:14:00 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Derek. He's late for a dog meeting. 13...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,None,None,None,None
29,886366144734445568,NaN,NaN,2017-07-15 23:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Roscoe. Another pupper fallen victim t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2326,666411507551481857,NaN,NaN,2015-11-17 00:24:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is quite the dog. Gets really excited whe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666411507...,2,10,quite,None,None,None,None
2327,666407126856765440,NaN,NaN,2015-11-17 00:06:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a southern Vesuvius bumblegruff. Can d...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666407126...,7,10,a,None,None,None,None
2328,666396247373291520,NaN,NaN,2015-11-16 23:23:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh goodness. A super rare northeast Qdoba kang...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666396247...,9,10,None,None,None,None,None
2329,666373753744588802,NaN,NaN,2015-11-16 21:54:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Those are sunglasses and a jean jacket. 11/10 ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666373753...,11,10,None,None,None,None,None
2330,666362758909284353,NaN,NaN,2015-11-16 21:10:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Unique dog here. Very small. Lives in containe...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666362758...,6,10,None,None,None,None,None
2331,666353288456101888,NaN,NaN,2015-11-16 20:32:58 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a mixed Asiago from the Galápagos...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666353288...,8,10,None,None,None,None,None
2332,666345417576210432,NaN,NaN,2015-11-16 20:01:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Look at this jokester thinking seat belt laws ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666345417...,10,10,None,None,None,None,None
2333,666337882303524864,NaN,NaN,2015-11-16 19:31:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an extremely rare horned Parthenon. No...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666337882...,9,10,an,None,None,None,None
2334,666293911632134144,NaN,NaN,2015-11-16 16:37:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a funny dog. Weird toes. Won't come do...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666293911...,3,10,a,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an Albanian 3 1/2 legged Episcopalian...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406...,1,2,an,None,None,None,None
2336,666273097616637952,NaN,NaN,2015-11-16 15:14:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can take selfies 11/10 https://t.co/ws2AMaNwPW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666273097...,11,10,None,None,None,None,None
2337,666268910803644416,NaN,NaN,2015-11-16 14:57:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Very concerned about fellow dog trapped in com...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666268910...,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None
2339,666102155909144576,NaN,NaN,2015-11-16 03:55:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my. Here you are seeing an Adobe Setter giv...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666102155...,11,10,None,None,None,None,None
2340,666099513787052032,NaN,NaN,2015-11-16 03:44:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Can stand on stump for what seems like a while...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666099513...,8,10,None,None,None,None,None
2341,666094000022159362,NaN,NaN,2015-11-16 03:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This appears to be a Mongolian Presbyterian mi...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666094000...,9,10,None,None,None,None,None
2342,666082916733198337,NaN,NaN,2015-11-16 02:38:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a well-established sunblockerspan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666082916...,6,10,None,None,None,None,None
2343,666073100786774016,NaN,NaN,2015-11-16 01:59:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Let's hope this flight isn't Malaysian (lol). ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666073100...,10,10,None,None,None,None,None
2344,666071193221509120,NaN,NaN,2015-11-16 01:52:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a northern speckled Rhododendron....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666071193...,9,10,None,None,None,None,None
2345,666063827256086533,NaN,NaN,2015-11-16 01:22:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is the happiest dog you will ever see. Ve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666063827...,10,10,the,None,None,None,None
2346,666058600524156928,NaN,NaN,2015-11-16 01:01:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is the Rand Paul of retrievers folks! He'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666058600...,8,10,the,None,None,None,None
2347,666057090499244032,NaN,NaN,2015-11-16 00:55:59 +0000,"<a href=""http://twitter.com/download/iphone"" r...",My oh my. This is a rare blond Canadian terrie...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666057090...,9,10,a,None,None,None,None
2348,666055525042405380,NaN,NaN,2015-11-16 00:49:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a Siberian heavily armored polar bear ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666055525...,10,10,a,None,None,None,None
2349,666051853826850816,NaN,NaN,2015-11-16 00:35:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is an odd dog. Hard on the outside but lo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666051853...,2,10,an,None,None,None,None
2350,666050758794694657,NaN,NaN,2015-11-16 00:30:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a truly beautiful English Wilson Staff...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666050758...,10,10,a,None,None,None,None
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [15]:
# Assessing the data programmaticaly
df.info()
df.describe()
df['rating_numerator'].value_counts()
df['rating_denominator'].value_counts()
df['name'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

None              745
a                  55
Charlie            12
Lucy               11
Oliver             11
Cooper             11
Penny              10
Lola               10
Tucker             10
Winston             9
Bo                  9
the                 8
Sadie               8
an                  7
Buddy               7
Bailey              7
Toby                7
Daisy               7
Koda                6
Leo                 6
Rusty               6
Jax                 6
Dave                6
Jack                6
Scout               6
Bella               6
Stanley             6
Oscar               6
Milo                6
Sunny               5
                 ...
my                  1
Tilly               1
Diogi               1
Pavlov              1
Jeffrie             1
Spark               1
Wafer               1
Michelangelope      1
Aja                 1
Sage                1
Barry               1
Binky               1
Lillie              1
by                  1
Georgie             1
Skye                1
Eugene              1
Lugan               1
Cheesy              1
Godi                1
Fwed                1
Sonny               1
Kayla               1
infuriating         1
Winifred            1
Brooks              1
Bonaparte           1
Skittles            1
Kevon               1
Lili                1
Name: name, Length: 957, dtype: int64

In [16]:
# Print all image dataset to assess it visually
images

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_mountain_dog,0.651137,True,English_springer,0.263788,True,Greater_Swiss_Mountain_dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,box_turtle,0.933012,False,mud_turtle,0.045885,False,terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,chow,0.692517,True,Tibetan_mastiff,0.058279,True,fur_coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,shopping_cart,0.962465,False,shopping_basket,0.014594,False,golden_retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,miniature_poodle,0.201493,True,komondor,0.192305,True,soft-coated_wheaten_terrier,0.082086,True
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,golden_retriever,0.775930,True,Tibetan_mastiff,0.093718,True,Labrador_retriever,0.072427,True
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon_setter,0.503672,True,Yorkshire_terrier,0.174201,True,Pekinese,0.109454,True
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker_hound,0.260857,True,English_foxhound,0.175382,True,Ibizan_hound,0.097471,True
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,pug,0.489814,True,bull_mastiff,0.404722,True,French_bulldog,0.048960,True
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,bloodhound,0.195217,True,German_shepherd,0.078260,True,malinois,0.075628,True
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie_Dinmont,0.089688,True
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English_setter,0.298617,True,Newfoundland,0.149842,True,borzoi,0.133649,True
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,hen,0.965932,False,cock,0.033919,False,partridge,0.000052,False
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,desktop_computer,0.086502,False,desk,0.085547,False,bookcase,0.079480,False
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian_greyhound,0.176053,True,toy_terrier,0.111884,True,basenji,0.111152,True
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese_dog,0.857531,True,toy_poodle,0.063064,True,miniature_poodle,0.025581,True
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,three-toed_sloth,0.914671,False,otter,0.015250,False,great_grey_owl,0.013207,False
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,ox,0.416669,False,Newfoundland,0.278407,True,groenendael,0.102643,True
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,golden_retriever,0.858744,True,Chesapeake_Bay_retriever,0.054787,True,Labrador_retriever,0.014241,True
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,malamute,0.336874,True,Siberian_husky,0.147655,True,Eskimo_dog,0.093412,True
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,guinea_pig,0.996496,False,skunk,0.002402,False,hamster,0.000461,False
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,soft-coated_wheaten_terrier,0.326467,True,Afghan_hound,0.259551,True,briard,0.206803,True
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,toy_terrier,0.009397,True,papillon,0.004577,True
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,black-and-tan_coonhound,0.529139,True,bloodhound,0.244220,True,flat-coated_retriever,0.173810,True
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,coho,0.404640,False,barracouta,0.271485,False,gar,0.189945,False
...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French_bulldog,0.999201,True,Chihuahua,0.000361,True,Boston_bull,0.000076,True
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,convertible,0.738995,False,sports_car,0.139952,False,car_wheel,0.044173,False
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,kuvasz,0.309706,True,Great_Pyrenees,0.186136,True,Dandie_Dinmont,0.086346,True
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,toy_terrier,0.143528,True,can_opener,0.032253,False
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo_dog,0.035029,True,Staffordshire_bullterrier,0.029705,True
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/88734...,1,Mexican_hairless,0.330741,True,sea_lion,0.275645,False,Weimaraner,0.134203,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/88751...,1,limousine,0.130432,False,tow_truck,0.029175,False,shopping_cart,0.026321,False
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,basset,0.821664,True,redbone,0.087582,True,Weimaraner,0.026236,True
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French_bulldog,0.995026,True,pug,0.000932,True,bull_mastiff,0.000903,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian_husky,0.700377,True,Eskimo_dog,0.166511,True,malamute,0.111411,True
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,golden_retriever,0.469760,True,Labrador_retriever,0.184172,True,English_setter,0.073482,True
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,golden_retriever,0.714719,True,Tibetan_mastiff,0.120184,True,Labrador_retriever,0.105506,True
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/88927...,1,whippet,0.626152,True,borzoi,0.194742,True,Saluki,0.027351,True
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,golden_retriever,0.953442,True,Labrador_retriever,0.013834,True,redbone,0.007958,True
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French_bulldog,0.991650,True,boxer,0.002129,True,Staffordshire_bullterrier,0.001498,True
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,basenji,0.004633,True
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French_bulldog,0.377417,True,Labrador_retriever,0.151317,True,muzzle,0.082981,False
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,chow,0.008167,True
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish_terrier,0.487574,True,Irish_setter,0.193054,True,Chesapeake_Bay_retriever,0.118184,True
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo_dog,0.178406,True,Pembroke,0.076507,True
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border_collie,0.199287,True,ice_lolly,0.193548,False
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake_Bay_retriever,0.425595,True,Irish_terrier,0.116317,True,Indian_elephant,0.076902,False
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [17]:
images.info()
images['jpg_url'].value_counts()
images[images['jpg_url'] == 'https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg']

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
800,691416866452082688,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True
1624,803692223237865472,https://pbs.twimg.com/media/CZhn-QAWwAASQan.jpg,1,Lakeland_terrier,0.530104,True,Irish_terrier,0.197314,True,Airedale,0.082515,True

In [18]:
final_tweets.info()
final_tweets['tweet_id'].value_counts() #count tweet_ids
final_tweets['user_followers'].value_counts() #check if querying the use_followers had a meaning

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 6 columns):
tweet_id           2356 non-null int64
favorites          2356 non-null int64
retweets           2356 non-null int64
user_followers     2356 non-null int64
user_favourites    2356 non-null int64
date_time          2356 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(5)
memory usage: 110.5 KB

7377989    343
7377936    289
7378043    261
7378042    224
7377940    155
7377939    144
7377935    128
7377986    128
7377990     79
7377991     75
7377987     75
7377941     67
7377988     61
7378045     54
7377992     51
7377993     48
7377937     41
7377985     35
7377943     30
7378044     24
7377938     20
7378714      5
7378607      4
7378608      3
7377942      3
7378715      3
7378611      2
7378661      2
7378658      1
7378663      1
Name: user_followers, dtype: int64

# Quality
Completeness, Validity, Accuracy, Consistency => a.k.a content issues

### df dataset

- in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id should be intergs instead of float
- retweeted_status_timestamp, timestamp should be datetime instead of object (string)
- The numerator and denominator columns have invalid values
- In several columns null objects are non-null (None to NaN)
- Name column have invalid names i.e 'None', 'a', 'an'
- We only want original ratings (no retweets) that have images
- We may want to change this columns type (in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id and tweet_id) to string because We don't want any operations on them.

### images dataset

- Missing values from images dataset (2075 rows instead of 2356)
- Some tweet_ids have the same jpg_url
- Some tweets are have 2 different tweet_id one redirect to the other

### json_tweeets dataset

- This tweet_id (666020888022790149) duplicated 8 times

# Tidiness

Untidy data => a.k.a structural issues

- No need to all the informations in images dataset, (tweet_id and jpg_url what matters)
- Various stages of dogs in columns instead of rows archives dataset
- We may want to add a gender column from the text columns in archives dataset.
- All tables should be part of one dataset

# Clean

Cleaning our data is the third step in data wrangling. It is where we will fix the quality and tidiness issues that we identified in the assess step

In [72]:
# As we want a highly tidy and clean dataset , we are going to merge the archive, images and final_tweet dataset 
# in to a master dataset by using the merge function.
df_master = pd.merge(df, images, how = 'left', on = ['tweet_id'] )
df_master = pd.merge(df_master, final_tweets, how = 'left', on = ['tweet_id'])
df_master.to_csv('df_master.csv', encoding = 'utf-8')
df_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2371 entries, 0 to 2370
Data columns (total 33 columns):
tweet_id                      2371 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2371 non-null object
source                        2371 non-null object
text                          2371 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2312 non-null object
rating_numerator              2371 non-null int64
rating_denominator            2371 non-null int64
name                          2371 non-null object
doggo                         2371 non-null object
floofer                       2371 non-null object
pupper                        2371 non-null object
puppo                         2371 non-null object
jpg_url                       2090 non-null object
img_num                       2090 non-null float64
p1                            2090 non-null object
p1_conf                       2090 non-null float64
p1_dog                        2090 non-null object
p2                            2090 non-null object
p2_conf                       2090 non-null float64
p2_dog                        2090 non-null object
p3                            2090 non-null object
p3_conf                       2090 non-null float64
p3_dog                        2090 non-null object
favorites                     2356 non-null float64
retweets                      2356 non-null float64
user_followers                2356 non-null float64
user_favourites               2356 non-null float64
date_time                     2356 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(12), int64(3), object(17)
memory usage: 629.8+ KB

In [73]:
# Delete the retweets
df_master = df_master[pd.isnull(df_master.retweeted_status_id)]
# Delete duplicated tweet_id
df_master = df_master.drop_duplicates()
# Delete tweets with no pictures
df_master = df_master.dropna(subset = ['jpg_url'])

# test
len(df_master)

1994

In [74]:
# We will Delete columns related to retweet we don't need anymore
df_master = df_master.drop('retweeted_status_id', 1)
df_master = df_master.drop('retweeted_status_user_id', 1)
df_master = df_master.drop('retweeted_status_timestamp', 1)

# We will Delete column date_time we imported from the API, it has the same values as timestamp column
df_master = df_master.drop('date_time', 1)

# test
list(df_master)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo',
 'jpg_url',
 'img_num',
 'p1',
 'p1_conf',
 'p1_dog',
 'p2',
 'p2_conf',
 'p2_dog',
 'p3',
 'p3_conf',
 'p3_dog',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites']

In [75]:
# -----Melt the 'doggo', 'floofer', 'pupper' and 'puppo' columns into one column 'dog_stage'---------

# Select the columns to melt and to remain
columns_to_melt = ['doggo', 'floofer', 'pupper', 'puppo']
columns_to_stay = [x for x in df_master.columns.tolist() if x not in columns_to_melt]

# Mlet the the columns into values
df_master = pd.melt(df_master, id_vars = columns_to_stay, value_vars = columns_to_melt, 
                         var_name = 'stages', value_name = 'dog_stage')

# Delete column 'stages'
df_master = df_master.drop('stages', 1)

In [76]:
# Getting rid of the prediction of the image column 

# We will store the fisrt true algorithm with it's level of confidence
prediction_algorithm = []
confidence_level = []

# Get_prediction_confidence function:
# search the first true algorithm and append it to a list with it's level of confidence
# if flase prediction_algorthm will have a value of NaN
def get_prediction_confidence(dataframe):
    if dataframe['p1_dog'] == True:
        prediction_algorithm.append(dataframe['p1'])
        confidence_level.append(dataframe['p1_conf'])
    elif dataframe['p2_dog'] == True:
        prediction_algorithm.append(dataframe['p2'])
        confidence_level.append(dataframe['p2_conf'])
    elif dataframe['p3_dog'] == True:
        prediction_algorithm.append(dataframe['p3'])
        confidence_level.append(dataframe['p3_conf'])
    else:
        prediction_algorithm.append('NaN')
        confidence_level.append(0)

df_master.apply(get_prediction_confidence, axis=1)
df_master['prediction_algorithm'] = prediction_algorithm
df_master['confidence_level'] = confidence_level


# Delete the columns of image prediction information
df_master = df_master.drop(['img_num', 'p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], 1)


list(df_master)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'jpg_url',
 'favorites',
 'retweets',
 'user_followers',
 'user_favourites',
 'dog_stage',
 'prediction_algorithm',
 'confidence_level']

In [77]:
# Checking for duplicate values in all the columns

# Print the count of the unique elements in all columns
df_master.apply(lambda x: len(x.unique()))

tweet_id                 1994
in_reply_to_status_id      23
in_reply_to_user_id         2
timestamp                1994
source                      3
text                     1994
expanded_urls            1994
rating_numerator           34
rating_denominator         15
name                      936
jpg_url                  1994
favorites                1858
retweets                 1585
user_followers             30
user_favourites             5
dog_stage                   5
prediction_algorithm      114
confidence_level         1684
dtype: int64

In [78]:
df_master.info()
df_master['in_reply_to_user_id'].value_counts()
df_master['source'].value_counts()
df_master['user_favourites'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 18 columns):
tweet_id                 7976 non-null int64
in_reply_to_status_id    92 non-null float64
in_reply_to_user_id      92 non-null float64
timestamp                7976 non-null object
source                   7976 non-null object
text                     7976 non-null object
expanded_urls            7976 non-null object
rating_numerator         7976 non-null int64
rating_denominator       7976 non-null int64
name                     7976 non-null object
jpg_url                  7976 non-null object
favorites                7972 non-null float64
retweets                 7972 non-null float64
user_followers           7972 non-null float64
user_favourites          7972 non-null float64
dog_stage                7976 non-null object
prediction_algorithm     7976 non-null object
confidence_level         7976 non-null float64
dtypes: float64(7), int64(3), object(8)
memory usage: 1.1+ MB

138950.0    3184
138949.0    2624
138951.0    2132
138952.0      32
Name: user_favourites, dtype: int64

In [79]:
# drop the following columns 'in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'
df_master = df_master.drop(['in_reply_to_status_id', 'in_reply_to_user_id', 'user_favourites'], 1)

In [80]:
# Clean the content of source column
df_master['source'] = df_master['source'].apply(lambda x: re.findall(r'>(.*)<', x)[0])

# Test
df_master

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,jpg_url,favorites,retweets,user_followers,dog_stage,prediction_algorithm,confidence_level
0,892420643555336193,2017-08-01 16:23:56 +0000,Twitter for iPhone,This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,38298.0,8405.0,7377937.0,None,NaN,0.000000
1,892177421306343426,2017-08-01 00:17:27 +0000,Twitter for iPhone,This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,32826.0,6196.0,7377937.0,None,Chihuahua,0.323581
2,891815181378084864,2017-07-31 00:18:03 +0000,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,24720.0,4100.0,7377937.0,None,Chihuahua,0.716012
3,891689557279858688,2017-07-30 15:58:51 +0000,Twitter for iPhone,This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,41631.0,8532.0,7377937.0,None,Labrador_retriever,0.168086
4,891327558926688256,2017-07-29 16:00:24 +0000,Twitter for iPhone,This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,39800.0,9251.0,7377937.0,None,basset,0.555712
5,891087950875897856,2017-07-29 00:08:17 +0000,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,13,10,None,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,19983.0,3077.0,7377937.0,None,Chesapeake_Bay_retriever,0.425595
6,890971913173991426,2017-07-28 16:27:12 +0000,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets ...,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,11700.0,2041.0,7377937.0,None,Appenzeller,0.341703
7,890729181411237888,2017-07-28 00:22:40 +0000,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,13,10,None,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,64647.0,18637.0,7377937.0,None,Pomeranian,0.566142
8,890609185150312448,2017-07-27 16:25:51 +0000,Twitter for iPhone,This is Zoey. She doesn't want to be one of th...,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,27475.0,4215.0,7377936.0,None,Irish_terrier,0.487574
9,890240255349198849,2017-07-26 15:59:51 +0000,Twitter for iPhone,This is Cassie. She is a college pup. Studying...,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,31521.0,7295.0,7377936.0,doggo,Pembroke,0.511319
10,890006608113172480,2017-07-26 00:31:25 +0000,Twitter for iPhone,This is Koda. He is a South Australian decksha...,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,30284.0,7243.0,7377936.0,None,Samoyed,0.957979
11,889880896479866881,2017-07-25 16:11:53 +0000,Twitter for iPhone,This is Bruno. He is a service shark. Only get...,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,27442.0,4916.0,7377936.0,None,French_bulldog,0.377417
12,889665388333682689,2017-07-25 01:55:32 +0000,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,13,10,None,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,47531.0,9936.0,7377936.0,None,Pembroke,0.966327
13,889638837579907072,2017-07-25 00:10:02 +0000,Twitter for iPhone,This is Ted. He does his best. Sometimes that'...,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,26839.0,4489.0,7377936.0,None,French_bulldog,0.991650
14,889531135344209921,2017-07-24 17:02:04 +0000,Twitter for iPhone,This is Stuart. He's sporting his favorite fan...,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,14907.0,2212.0,7377936.0,None,golden_retriever,0.953442
15,889278841981685760,2017-07-24 00:19:32 +0000,Twitter for iPhone,This is Oliver. You're witnessing one of his m...,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,https://pbs.twimg.com/ext_tw_video_thumb/88927...,24945.0,5315.0,7377936.0,None,whippet,0.626152
16,888917238123831296,2017-07-23 00:22:39 +0000,Twitter for iPhone,This is Jim. He found a fren. Taught him how t...,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,28731.0,4444.0,7377936.0,None,golden_retriever,0.714719
17,888804989199671297,2017-07-22 16:56:37 +0000,Twitter for iPhone,This is Zeke. He has a new stick. Very proud o...,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,25242.0,4246.0,7377936.0,None,golden_retriever,0.469760
18,888554962724278272,2017-07-22 00:23:06 +0000,Twitter for iPhone,This is Ralphus. He's powering up. Attempting ...,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,19609.0,3508.0,7377936.0,None,Siberian_husky,0.700377
19,888078434458587136,2017-07-20 16:49:33 +0000,Twitter for iPhone,This is Gerald. He was just told he didn't get...,https://twitter.com/dog_rates/status/888078434...,12,10,Gerald,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,21488.0,3451.0,7377936.0,None,French_bulldog,0.995026
20,887705289381826560,2017-07-19 16:06:48 +0000,Twitter for iPhone,This is Jeffrey. He has a monopoly on the pool...,https://twitter.com/dog_rates/status/887705289...,13,10,Jeffrey,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,29795.0,5322.0,7377936.0,None,basset,0.821664
21,887517139158093824,2017-07-19 03:39:09 +0000,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,14,10,such,https://pbs.twimg.com/ext_tw_video_thumb/88751...,45697.0,11521.0,7377936.0,None,NaN,0.000000
22,887473957103951883,2017-07-19 00:47:34 +0000,Twitter for iPhone,This is Canela. She attempted some fancy porch...,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,68250.0,17963.0,7377936.0,None,Pembroke,0.809197
23,887343217045368832,2017-07-18 16:08:03 +0000,Twitter for iPhone,You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,13,10,None,https://pbs.twimg.com/ext_tw_video_thumb/88734...,33260.0,10279.0,7377936.0,None,Mexican_hairless,0.330741
24,887101392804085760,2017-07-18 00:07:08 +0000,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,12,10,None,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,30176.0,5889.0,7377936.0,None,Samoyed,0.733942
25,886983233522544640,2017-07-17 16:17:36 +0000,Twitter for iPhone,This is Maya. She's very shy. Rarely leaves he...,https://twitter.com/dog_rates/status/886983233...,13,10,Maya,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,34732.0,7680.0,7377936.0,None,Chihuahua,0.793469
26,886736880519319552,2017-07-16 23:58:41 +0000,Twitter for iPhone,This is Mingus. He's a wonderful father to his...,"https://www.gofundme.com/mingusneedsus,https:/...",13,10,Mingus,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,11903.0,3246.0,7377936.0,None,kuvasz,0.309706
27,886680336477933568,2017-07-16 20:14:00 +0000,Twitter for iPhone,This is Derek. He's late for a dog meeting. 13...,https://twitter.com/dog_rates/status/886680336...,13,10,Derek,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,22154.0,4408.0,7377936.0,None,NaN,0.000000
28,886366144734445568,2017-07-15 23:25:31 +0000,Twitter for iPhone,This is Roscoe. Another pupper fallen victim t...,https://twitter.com/dog_rates/status/886366144...,12,10,Roscoe,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,20933.0,3162.0,7377936.0,None,French_bulldog,0.999201
29,886258384151887873,2017-07-15 16:17:19 +0000,Twitter for iPhone,This is Waffles. His doggles are pupside down....,https://twitter.com/dog_rates/status/886258384...,13,10,Waffles,https://pbs.twimg.com/media/DEyfTG4UMAE4aE9.jpg,27655.0,6208.0,7377936.0,None,pug,0.943575
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7946,666411507551481857,2015-11-17 00:24:19 +0000,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,2,10,quite,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,440.0,324.0,7378045.0,None,NaN,0.000000
7947,666407126856765440,2015-11-17 00:06:54 +0000,Twitter for iPhone,This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,7,10,a,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,107.0,40.0,7378045.0,None,black-and-tan_coonhound,0.529139
7948,666396247373291520,2015-11-16 23:23:41 +0000,Twitter for iPhone,Oh goodness. A super rare northeast Qdoba kang...,https://twitter.com/dog_rates/status/666396247...,9,10,None,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,167.0,84.0,7378045.0,None,Chihuahua,0.978108
7949,666373753744588802,2015-11-16 21:54:18 +0000,Twitter for iPhone,Those are sunglasses and a jean jacket. 11/10 ...,https://twitter.com/dog_rates/status/666373753...,11,10,None,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,186.0,92.0,7378045.0,None,soft-coated_wheaten_terrier,0.326467
7950,666362758909284353,2015-11-16 21:10:36 +0000,Twitter for iPhone,Unique dog here. Very small. Lives in containe...,https://twitter.com/dog_rates/status/666362758...,6,10,None,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,772.0,565.0,7378045.0,None,NaN,0.000000
7951,666353288456101888,2015-11-16 20:32:58 +0000,Twitter for iPhone,Here we have a mixed Asiago from the Galápagos...,https://twitter.com/dog_rates/status/666353288...,8,10,None,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,219.0,71.0,7378045.0,None,malamute,0.336874
7952,666345417576210432,2015-11-16 20:01:42 +0000,Twitter for iPhone,Look at this jokester thinking seat belt laws ...,https://twitter.com/dog_rates/status/666345417...,10,10,None,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,291.0,134.0,7378045.0,None,golden_retriever,0.858744
7953,666337882303524864,2015-11-16 19:31:45 +0000,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,9,10,an,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,197.0,90.0,7378045.0,None,Newfoundland,0.278407
7954,666293911632134144,2015-11-16 16:37:02 +0000,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,3,10,a,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,495.0,352.0,7378045.0,None,NaN,0.000000
7955,666287406224695296,2015-11-16 16:11:11 +0000,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,1,2,an,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,146.0,64.0,7378045.0,None,Maltese_dog,0.857531
7956,666273097616637952,2015-11-16 15:14:19 +0000,Twitter for iPhone,Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://twitter.com/dog_rates/status/666273097...,11,10,None,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,174.0,76.0,7378045.0,None,Italian_greyhound,0.176053
7957,666268910803644416,2015-11-16 14:57:41 +0000,Twitter for iPhone,Very concerned about fellow dog trapped in com...,https://twitter.com/dog_rates/status/666268910...,10,10,None,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,102.0,35.0,7378045.0,None,NaN,0.000000
7958,666104133288665088,2015-11-16 04:02:55 +0000,Twitter for iPhone,Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,1,10,None,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,14198.0,6511.0,7378045.0,None,NaN,0.000000
7959,666102155909144576,2015-11-16 03:55:04 +0000,Twitter for iPhone,Oh my. Here you are seeing an Adobe Setter giv...,https://twitter.com/dog_rates/status/666102155...,11,10,None,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,80.0,12.0,7378045.0,None,English_setter,0.298617
7960,666099513787052032,2015-11-16 03:44:34 +0000,Twitter for iPhone,Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,8,10,None,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,153.0,67.0,7378045.0,None,Lhasa,0.582330
7961,666094000022159362,2015-11-16 03:22:39 +0000,Twitter for iPhone,This appears to be a Mongolian Presbyterian mi...,https://twitter.com/dog_rates/status/666094000...,9,10,None,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,163.0,73.0,7378045.0,None,bloodhound,0.195217
7962,666082916733198337,2015-11-16 02:38:37 +0000,Twitter for iPhone,Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,6,10,None,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,116.0,44.0,7378045.0,None,pug,0.489814
7963,666073100786774016,2015-11-16 01:59:36 +0000,Twitter for iPhone,Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,10,10,None,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,319.0,163.0,7378045.0,None,Walker_hound,0.260857
7964,666071193221509120,2015-11-16 01:52:02 +0000,Twitter for iPhone,Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,9,10,None,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,145.0,59.0,7378045.0,None,Gordon_setter,0.503672
7965,666063827256086533,2015-11-16 01:22:45 +0000,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,10,10,the,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,471.0,216.0,7378045.0,None,golden_retriever,0.775930
7966,666058600524156928,2015-11-16 01:01:59 +0000,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,8,10,the,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,111.0,57.0,7378045.0,None,miniature_poodle,0.201493
7967,666057090499244032,2015-11-16 00:55:59 +0000,Twitter for iPhone,My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,9,10,a,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,294.0,141.0,7378045.0,None,golden_retriever,0.007959
7968,666055525042405380,2015-11-16 00:49:46 +0000,Twitter for iPhone,Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,10,10,a,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,433.0,246.0,7378045.0,None,chow,0.692517
7969,666051853826850816,2015-11-16 00:35:11 +0000,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,2,10,an,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1208.0,843.0,7378045.0,None,NaN,0.000000
7970,666050758794694657,2015-11-16 00:30:50 +0000,Twitter for iPhone,This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,10,10,a,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,132.0,59.0,7378045.0,None,Bernese_mountain_dog,0.651137
7971,666049248165822465,2015-11-16 00:24:50 +0000,Twitter for iPhone,Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,10,None,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,108.0,40.0,7378045.0,None,miniature_pinscher,0.560311
7972,666044226329800704,2015-11-16 00:04:52 +0000,Twitter for iPhone,This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,10,a,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,295.0,139.0,7378045.0,None,Rhodesian_ridgeback,0.408143
7973,666033412701032449,2015-11-15 23:21:54 +0000,Twitter for iPhone,Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,10,a,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,125.0,44.0,7378045.0,None,German_shepherd,0.596461
7974,666029285002620928,2015-11-15 23:05:30 +0000,Twitter for iPhone,This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,10,a,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,128.0,47.0,7378045.0,None,redbone,0.506826
7975,666020888022790149,2015-11-15 22:32:08 +0000,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,10,None,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,2549.0,508.0,7378045.0,None,Welsh_springer_spaniel,0.465074

In [81]:
# Print the values and check if there exist in the text
df_master.rating_numerator.value_counts()
df_master.rating_denominator.value_counts()
print(df_master[df_master.rating_denominator == 170]['text'][2842])
print(df_master[df_master.rating_numerator == 1776]['text'][2720])
print(df_master[df_master.tweet_id == 786709082849828864]['text'][2497])
print(df_master['text'][1918])
print(df_master['text'][1917])
print(df_master['text'][1916])
print(df_master['text'][1911])

Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv
This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh
This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS
This is Biden. Biden just tripped... 7/10 https://t.co/3Fm9PwLju1
Ermergerd 12/10 https://t.co/PQni2sjPsm
Never seen this breed before. Very pointy pup. Hurts when you cuddle. Still cute tho. 10/10 https://t.co/97HuBrVuOx
Two dogs in this one. Both are rare Jujitsu Pythagoreans. One slightly whiter than other. Long legs. 7/10 and 8/10 https://t.co/ITxxcc4v9y

In [82]:
# Get ratings and treat them depending to their situation
ratings = df_master['text'].apply(lambda x: re.findall(r'(\d+(\.\d+)|(\d+))\/(\d+0)', x))
len(ratings)

7976

In [83]:
# Add new columns to store the new ratings and the count of dogs in each tweet
rating_numerator = []
rating_denominator = []
dogs_count = []

for rate in ratings:
    # Tweets with no rating
    if len(rate) == 0:
        rating_numerator.append('NaN')
        rating_denominator.append('NaN')
        dogs_count.append(1) # It has a picture so it is a dog
    
    # Tweets with one rate
    elif len(rate) == 1:
        rating_numerator.append((float(rate[0][0]) / (float(rate[0][-1])/10)))
        rating_denominator.append(float(rate[0][-1]))
        dogs_count.append(float(rate[0][-1]) / 10) 
                                  
    elif len(rate) > 1 and rate[0][-1] == '10':
        rating_plus = 0
        rating_avg = 0
        for i in range(len(rate)):
            rating_plus = rating_plus + float(rate[i][0])
        result_avg = (rating_plus / len(rate))
        rating_numerator.append(result_avg)
        rating_denominator.append(10)
        dogs_count.append(len(rate))
    else:
        rating_numerator.append('Error')
        rating_denominator.append('Error')
        dogs_count.append('Error')

df_master['new_rating_numerator'] = rating_numerator
df_master['new_rating_denominator'] = rating_denominator
df_master['dogs_count'] = dogs_count
df_master['new_rating_numerator'].value_counts()

12.0                 1812
10.0                 1644
11.0                 1596
13.0                 1044
9.0                   608
8.0                   376
7.0                   208
14.0                  144
6.0                   128
5.0                   120
3.0                    76
4.0                    56
2.0                    36
8.5                    16
1.0                    16
9.5                    12
7.5                    12
0.0                     8
Error                   8
10.5                    8
9.75                    4
1776.0                  4
5.5                     4
6.5                     4
11.27                   4
13.5                    4
11.5                    4
420.0                   4
NaN                     4
9.666666666666666       4
11.26                   4
4.5                     4
Name: new_rating_numerator, dtype: int64

In [84]:
print(df_master[df_master.new_rating_numerator == 'Error']['text'][2919])
print(df_master[df_master.new_rating_numerator == 'Error']['text'][2885])
print(df_master[df_master.new_rating_numerator == 1776.0]['text'][2720])
print(df_master[df_master.new_rating_numerator == 420.0]['text'][3712])

This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq
Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a
This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh
After so many requests... here you go.

Good dogg. 420/10 https://t.co/yfAAo1gdeY

In [85]:
#We notice that the two errors where for a special situation that has two fractions
#but only one of them is the valid one, 
#we will could assess this manually and we will clean it manually as well.

#We still see two big numbers one of them for Atticus and the other for snop Dog 
#we will exclude them in future visualisations


# Correct the errors
tweet_id_11 = df_master[df_master.new_rating_numerator == 'Error']['tweet_id'][2919]
tweet_id_13 = df_master[df_master.new_rating_numerator == 'Error']['tweet_id'][2885]

df_master.loc[df_master['tweet_id'] == tweet_id_11, 'new_rating_numerator'] = 11
df_master.loc[df_master['tweet_id'] == tweet_id_13, 'new_rating_numerator'] = 13

df_master.loc[df_master['dogs_count'] == 'Error', 'dogs_count'] = 1
df_master.loc[df_master['new_rating_denominator'] == 'Error', 'new_rating_denominator'] = 10

# Test
print(df_master.new_rating_numerator[df_master.tweet_id == tweet_id_11])
print(df_master.new_rating_numerator[df_master.tweet_id == tweet_id_13])

925     11
2919    11
4913    11
6907    11
Name: new_rating_numerator, dtype: object
891     13
2885    13
4879    13
6873    13
Name: new_rating_numerator, dtype: object

In [86]:
# Delete the old columns and update the names of the new ones
df_master = df_master.drop(['rating_numerator', 'rating_denominator'], 1)

# Rename columns
df_master.rename(columns = {'new_rating_numerator': 'rating_numerator', 
                            'new_rating_denominator': 'rating_denominator'}, inplace = True)

# Test
list(df_master)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'name',
 'jpg_url',
 'favorites',
 'retweets',
 'user_followers',
 'dog_stage',
 'prediction_algorithm',
 'confidence_level',
 'rating_numerator',
 'rating_denominator',
 'dogs_count']

In [87]:
# Loop on all the texts and check if the comment has one of the above conditions
# and append the result in a list
dog_names = []

for text in df_master['text']:
    # Start with 'This is ' and the fisrt letter of the name is uppercase
    if text.startswith('This is ') and re.match(r'[A-Z].*', text.split()[2]):
        dog_names.append(text.split()[2].strip(',').strip('.'))
    # Start with 'Meet ' and the fisrt letter of the name is uppercase
    elif text.startswith('Meet ') and re.match(r'[A-Z].*', text.split()[1]):
        dog_names.append(text.split()[1].strip(',').strip('.'))
    # Start with 'Say hello to ' and the fisrt letter of the name is uppercase
    elif text.startswith('Say hello to ') and re.match(r'[A-Z].*', text.split()[3]):
        dog_names.append(text.split()[3].strip(',').strip('.'))
    # Start with 'Here we have ' and the fisrt letter of the name is uppercase
    elif text.startswith('Here we have ') and re.match(r'[A-Z].*', text.split()[3]):
        dog_names.append(text.split()[3].strip(',').strip('.'))
    # Contain 'named' and the fisrt letter of the name is uppercase
    elif 'named' in text and re.match(r'[A-Z].*', text.split()[text.split().index('named') + 1]):
        dog_names.append(text.split()[text.split().index('named') + 1].strip(',').strip('.'))
    # No name specified or other style
    else:
        dog_names.append('NaN')

# Test
len(dog_names)

# Save the result in a new column 'dog_name'
df_master['dog_name'] = dog_names

# Test
print("New column dog_name count \n", df_master.dog_name.value_counts())
print("Old column name count \n", df_master.name.value_counts())

New column dog_name count
 NaN          2500
Charlie        44
Cooper         40
Oliver         40
Lucy           40
Penny          36
Tucker         36
Sadie          32
Winston        32
Daisy          28
Lola           28
Jax            24
Bo             24
Bella          24
Toby           24
Stanley        24
Koda           24
Buddy          20
Oscar          20
Leo            20
Louis          20
Chester        20
Scout          20
Rusty          20
Bailey         20
Milo           20
Jack           16
Cassie         16
Winnie         16
Duke           16
             ...
Tebow           4
Sora            4
Alfredo         4
Andy            4
Winifred        4
Kayla           4
Iroh            4
Sonny           4
Sprout          4
Tobi            4
Harnold         4
Odin            4
Grizzwald       4
Goose           4
Chadrick        4
Brady           4
Sage            4
Butter          4
Emmy            4
Binky           4
Lillie          4
Wishes          4
Georgie         4
Cherokee        4
Eugene          4
Berta           4
Aja             4
Cheesy          4
Fwed            4
Mo              4
Name: dog_name, Length: 934, dtype: int64
Old column name count
 None         2184
a             220
Charlie        44
Cooper         40
Oliver         40
Lucy           40
Penny          36
Tucker         36
Winston        32
Sadie          32
Daisy          28
the            28
Toby           28
Lola           28
Bo             24
Koda           24
an             24
Jax            24
Stanley        24
Bella          24
Scout          20
Milo           20
Leo            20
Louis          20
Oscar          20
Buddy          20
Rusty          20
Dave           20
Bailey         20
Chester        20
             ...
Banjo           4
Tebow           4
Sora            4
Andy            4
Tupawc          4
Swagger         4
Sprout          4
Kayla           4
Tobi            4
Odin            4
Grizzwald       4
Asher           4
Chadrick        4
Brady           4
Sage            4
Butter          4
Emmy            4
Binky           4
Lillie          4
by              4
Georgie         4
Skye            4
Eugene          4
Lugan           4
Eve             4
Aja             4
Cheesy          4
Fwed            4
Sonny           4
Mo              4
Name: name, Length: 936, dtype: int64

In [88]:
# We acn see here that the 'NaN' result for the tweets with two names or no name
df_master[df_master.dog_name == 'NaN']

,tweet_id,timestamp,source,text,expanded_urls,name,jpg_url,favorites,retweets,user_followers,dog_stage,prediction_algorithm,confidence_level,rating_numerator,rating_denominator,dogs_count,dog_name
5,891087950875897856,2017-07-29 00:08:17 +0000,Twitter for iPhone,Here we have a majestic great white breaching ...,https://twitter.com/dog_rates/status/891087950...,None,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,19983.0,3077.0,7377937.0,None,Chesapeake_Bay_retriever,0.425595,13,10,1,NaN
7,890729181411237888,2017-07-28 00:22:40 +0000,Twitter for iPhone,When you watch your owner call another dog a g...,https://twitter.com/dog_rates/status/890729181...,None,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,64647.0,18637.0,7377937.0,None,Pomeranian,0.566142,13,10,1,NaN
12,889665388333682689,2017-07-25 01:55:32 +0000,Twitter for iPhone,Here's a puppo that seems to be on the fence a...,https://twitter.com/dog_rates/status/889665388...,None,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,47531.0,9936.0,7377936.0,None,Pembroke,0.966327,13,10,1,NaN
21,887517139158093824,2017-07-19 03:39:09 +0000,Twitter for iPhone,I've yet to rate a Venezuelan Hover Wiener. Th...,https://twitter.com/dog_rates/status/887517139...,such,https://pbs.twimg.com/ext_tw_video_thumb/88751...,45697.0,11521.0,7377936.0,None,NaN,0.000000,14,10,1,NaN
23,887343217045368832,2017-07-18 16:08:03 +0000,Twitter for iPhone,You may not have known you needed to see this ...,https://twitter.com/dog_rates/status/887343217...,None,https://pbs.twimg.com/ext_tw_video_thumb/88734...,33260.0,10279.0,7377936.0,None,Mexican_hairless,0.330741,13,10,1,NaN
24,887101392804085760,2017-07-18 00:07:08 +0000,Twitter for iPhone,This... is a Jubilant Antarctic House Bear. We...,https://twitter.com/dog_rates/status/887101392...,None,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,30176.0,5889.0,7377936.0,None,Samoyed,0.733942,12,10,1,NaN
30,885984800019947520,2017-07-14 22:10:11 +0000,Twitter for iPhone,Viewer discretion advised. This is Jimbo. He w...,https://twitter.com/dog_rates/status/885984800...,Jimbo,https://pbs.twimg.com/media/DEumeWWV0AA-Z61.jpg,32291.0,6722.0,7377936.0,None,Blenheim_spaniel,0.972494,12,10,1,NaN
32,885167619883638784,2017-07-12 16:03:00 +0000,Twitter for iPhone,Here we have a corgi undercover as a malamute....,https://twitter.com/dog_rates/status/885167619...,None,https://pbs.twimg.com/media/DEi_N9qXYAAgEEw.jpg,21671.0,4332.0,7377936.0,None,malamute,0.812482,13,10,1,NaN
36,884441805382717440,2017-07-10 15:58:53 +0000,Twitter for iPhone,"I present to you, Pup in Hat. Pup in Hat is gr...",https://twitter.com/dog_rates/status/884441805...,None,https://pbs.twimg.com/media/DEYrIZwWsAA2Wo5.jpg,26675.0,5590.0,7377936.0,None,Pembroke,0.993225,14,10,1,NaN
41,883117836046086144,2017-07-07 00:17:54 +0000,Twitter for iPhone,Please only send dogs. We don't rate mechanics...,https://twitter.com/dog_rates/status/883117836...,None,https://pbs.twimg.com/media/DEF2-_hXoAAs62q.jpg,36757.0,6602.0,7377936.0,None,golden_retriever,0.949562,13,10,1,NaN
49,881536004380872706,2017-07-02 15:32:16 +0000,Twitter for iPhone,Here is a pupper approaching maximum borkdrive...,https://twitter.com/dog_rates/status/881536004...,a,https://pbs.twimg.com/ext_tw_video_thumb/88153...,48866.0,15788.0,7378608.0,None,Samoyed,0.281463,14,10,1,NaN
52,880872448815771648,2017-06-30 19:35:32 +0000,Twitter for iPhone,Ugh not again. We only rate dogs. Please don't...,https://twitter.com/dog_rates/status/880872448...,None,https://pbs.twimg.com/media/DDl8zzJW0AAisCJ.jpg,21027.0,3778.0,7377936.0,None,Pembroke,0.791416,12,10,1,NaN
55,880095782870896641,2017-06-28 16:09:20 +0000,Twitter for iPhone,Please don't send in photos without dogs in th...,https://twitter.com/dog_rates/status/880095782...,None,https://pbs.twimg.com/media/DDa6ckbXgAAM1vV.jpg,27325.0,4318.0,7377936.0,None,miniature_pinscher,0.120298,11,10,1,NaN
74,875021211251597312,2017-06-14 16:04:48 +0000,Twitter for iPhone,Guys please stop sending pictures without any ...,https://twitter.com/dog_rates/status/875021211...,None,https://pbs.twimg.com/media/DCSzF3NVoAAPzT4.jpg,25213.0,4685.0,7377936.0,None,West_Highland_white_terrier,0.714319,12,10,1,NaN
77,874057562936811520,2017-06-12 00:15:36 +0000,Twitter for iPhone,"I can't believe this keeps happening. This, is...",https://twitter.com/dog_rates/status/874057562...,None,https://pbs.twimg.com/media/DCFGtdoXkAEsqIw.jpg,22444.0,3938.0,7377936.0,None,flat-coated_retriever,0.832177,12,10,1,NaN
79,873580283840344065,2017-06-10 16:39:04 +0000,Twitter for iPhone,We usually don't rate Deck-bound Saskatoon Bla...,https://twitter.com/dog_rates/status/873580283...,None,https://pbs.twimg.com/media/DB-UotKXkAEHXVi.jpg,24009.0,3937.0,7377936.0,None,Newfoundland,0.678537,13,10,1,NaN
81,872967104147763200,2017-06-09 00:02:31 +0000,Twitter for iPhone,Here's a very large dog. He has a date later. ...,https://twitter.com/dog_rates/status/872967104...,None,https://pbs.twimg.com/media/DB1m871XUAAw5vZ.jpg,27150.0,5390.0,7377936.0,doggo,Labrador_retriever,0.476913,12,10,1,NaN
82,872820683541237760,2017-06-08 14:20:41 +0000,Twitter for iPhone,Here are my favorite #dogsatpollingstations \n...,https://twitter.com/dog_rates/status/872820683...,None,https://pbs.twimg.com/media/DBzhx0PWAAEhl0E.jpg,14600.0,3688.0,7377936.0,None,pug,0.999120,13,10,1,NaN
84,872486979161796608,2017-06-07 16:14:40 +0000,Twitter for iPhone,We. Only. Rate. Dogs. Do not send in other thi...,https://twitter.com/dog_rates/status/872486979...,None,https://pbs.twimg.com/media/DBuyRlTUwAAYhG9.jpg,40374.0,8999.0,7377936.0,None,Pembroke,0.931861,12,10,1,NaN
91,870804317367881728,2017-06-03 00:48:22 +0000,Twitter for iPhone,Real funny guys. Sending in a pic without a do...,https://twitter.com/dog_rates/status/870804317...,None,https://pbs.twimg.com/media/DBW35ZsVoAEWZUU.jpg,33467.0,6227.0,7377936.0,None,NaN,0.000000,11,10,1,NaN
101,868622495443632128,2017-05-28 00:18:35 +0000,Twitter for iPhone,Here's a h*ckin peaceful boy. Unbothered by th...,https://twitter.com/dog_rates/status/868622495...,None,https://pbs.twimg.com/media/DA33i0XXsAEQtCA.jpg,26884.0,5490.0,7377936.0,None,Labrador_retriever,0.868107,13,10,1,NaN
103,867900495410671616,2017-05-26 00:29:37 +0000,Twitter for iPhone,Unbelievable. We only rate dogs. Please don't ...,https://twitter.com/dog_rates/status/867900495...,None,https://pbs.twimg.com/media/DAtm5MkXoAA4R6P.jpg,24206.0,4215.0,7377936.0,None,Labrador_retriever,0.522644,12,10,1,NaN
106,867051520902168576,2017-05-23 16:16:06 +0000,Twitter for iPhone,"Oh my this spooked me up. We only rate dogs, n...",https://twitter.com/dog_rates/status/867051520...,None,https://pbs.twimg.com/media/DAhiwb0XcAA8x5Q.jpg,32327.0,7960.0,7377936.0,None,Samoyed,0.471403,13,10,1,NaN
113,864873206498414592,2017-05-17 16:00:15 +0000,Twitter for iPhone,We only rate dogs. Please don't send in Jesus....,https://twitter.com/dog_rates/status/864873206...,None,https://pbs.twimg.com/media/DAClmHkXcAA1kSv.jpg,32497.0,8866.0,7377936.0,None,NaN,0.000000,14,10,1,NaN
119,863079547188785154,2017-05-12 17:12:53 +0000,Twitter for iPhone,Ladies and gentlemen... I found Pipsy. He may ...,https://twitter.com/dog_rates/status/863079547...,None,https://pbs.twimg.com/media/C_pGRInUwAAmTY_.jpg,8845.0,1120.0,7377936.0,None,Lakeland_terrier,0.275242,14,10,1,NaN
124,862096992088072192,2017-05-10 00:08:34 +0000,Twitter for iPhone,We only rate dogs. Please don't send perfectly...,https://twitter.com/dog_rates/status/862096992...,None,https://pbs.twimg.com/media/C_bIo7QXYAAGfPu.jpg,75382.0,23825.0,7377936.0,None,chow,0.677589,13,10,1,NaN
126,861288531465048066,2017-05-07 18:36:02 +0000,Twitter for iPhone,HI. MY. NAME. IS. BOOMER. AND. I. WANT. TO. SA...,https://twitter.com/dog_rates/status/861288531...,None,https://pbs.twimg.com/ext_tw_video_thumb/86128...,17382.0,4253.0,7377936.0,None,Bouvier_des_Flandres,0.082610,13,10,1,NaN
131,860184849394610176,2017-05-04 17:30:24 +0000,Twitter for iPhone,Here we have perhaps the wisest dog of all. Ab...,https://twitter.com/dog_rates/status/860184849...,None,https://pbs.twimg.com/media/C-_9jWWUwAAnwkd.jpg,16910.0,5982.0,7377936.0,None,NaN,0.000000,14,10,1,NaN
134,859607811541651456,2017-05-03 03:17:27 +0000,Twitter for iPhone,Sorry for the lack of posts today. I came home...,https://twitter.com/dog_rates/status/859607811...,None,https://pbs.twimg.com/media/C-3wvtxXcAUTuBE.jpg,18851.0,1614.0,7377936.0,None,golden_retriever,0.895529,13,10,1,NaN
135,859196978902773760,2017-05-02 00:04:57 +0000,Twitter for iPhone,We only rate dogs. This is quite clearly a smo...,https://twitter.com/dog_rates/status/859196978...,quite,https://pbs.twimg.com/ext_tw_video_thumb/85919...,91317.0,31079.0,7377936.0,None,malamute,0.216163,12,10,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7946,666411507551481857,2015-11-17 00:24:19 +0000,Twitter for iPhone,This is quite the dog. Gets really excited whe...,https://twitter.com/dog_rates/status/666411507...,quite,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,440.0,324.0,7378045.0,None,NaN,0.000000,2,10,1,NaN
7947,666407126856765440,2015-11-17 00:06:54 +0000,Twitter for iPhone,This is a southern Vesuvius bumblegruff. Can d...,https://twitter.com/dog_rates/status/666407126...,a,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,107.0,40.0,7378045.0,None,black-and-tan_coonhound,0.529139,7,10,1,NaN
7948,666396247373291520,2015-11-16 23:23:41 +0000,Twitter for iPhone,Oh goodness. A super rare northeast Qdoba kang...,https://twitter.com/dog_rates/status/666396247...,None,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,167.0,84.0,7378045.0,None,Chihuahua,0.978108,9,10,1,NaN
7949,666373753744588802,2015-11-16 21:54:18 +0000,Twitter for iPhone,Those are sunglasses and a jean jacket. 11/10 ...,https://twitter.com/dog_rates/status/666373753...,None,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,186.0,92.0,7378045.0,None,soft-coated_wheaten_terrier,0.326467,11,10,1,NaN
7950,666362758909284353,2015-11-16 21:10:36 +0000,Twitter for iPhone,Unique dog here. Very small. Lives in containe...,https://twitter.com/dog_rates/status/666362758...,None,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,772.0,565.0,7378045.0,None,NaN,0.000000,6,10,1,NaN
7951,666353288456101888,2015-11-16 20:32:58 +0000,Twitter for iPhone,Here we have a mixed Asiago from the Galápagos...,https://twitter.com/dog_rates/status/666353288...,None,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,219.0,71.0,7378045.0,None,malamute,0.336874,8,10,1,NaN
7952,666345417576210432,2015-11-16 20:01:42 +0000,Twitter for iPhone,Look at this jokester thinking seat belt laws ...,https://twitter.com/dog_rates/status/666345417...,None,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,291.0,134.0,7378045.0,None,golden_retriever,0.858744,10,10,1,NaN
7953,666337882303524864,2015-11-16 19:31:45 +0000,Twitter for iPhone,This is an extremely rare horned Parthenon. No...,https://twitter.com/dog_rates/status/666337882...,an,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,197.0,90.0,7378045.0,None,Newfoundland,0.278407,9,10,1,NaN
7954,666293911632134144,2015-11-16 16:37:02 +0000,Twitter for iPhone,This is a funny dog. Weird toes. Won't come do...,https://twitter.com/dog_rates/status/666293911...,a,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,495.0,352.0,7378045.0,None,NaN,0.000000,3,10,1,NaN
7955,666287406224695296,2015-11-16 16:11:11 +0000,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian...,https://twitter.com/dog_rates/status/666287406...,an,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,146.0,64.0,7378045.0,None,Maltese_dog,0.857531,9,10,1,NaN
7956,666273097616637952,2015-11-16 15:14:19 +0000,Twitter for iPhone,Can take selfies 11/10 https://t.co/ws2AMaNwPW,https://twitter.com/dog_rates/status/666273097...,None,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,174.0,76.0,7378045.0,None,Italian_greyhound,0.176053,11,10,1,NaN
7957,666268910803644416,2015-11-16 14:57:41 +0000,Twitter for iPhone,Very concerned about fellow dog trapped in com...,https://twitter.com/dog_rates/status/666268910...,None,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,102.0,35.0,7378045.0,None,NaN,0.000000,10,10,1,NaN
7958,666104133288665088,2015-11-16 04:02:55 +0000,Twitter for iPhone,Not familiar with this breed. No tail (weird)....,https://twitter.com/dog_rates/status/666104133...,None,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,14198.0,6511.0,7378045.0,None,NaN,0.000000,1,10,1,NaN
7959,666102155909144576,2015-11-16 03:55:04 +0000,Twitter for iPhone,Oh my. Here you are seeing an Adobe Setter giv...,https://twitter.com/dog_rates/status/666102155...,None,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,80.0,12.0,7378045.0,None,English_setter,0.298617,11,10,1,NaN
7960,666099513787052032,2015-11-16 03:44:34 +0000,Twitter for iPhone,Can stand on stump for what seems like a while...,https://twitter.com/dog_rates/status/666099513...,None,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,153.0,67.0,7378045.0,None,Lhasa,0.582330,8,10,1,NaN
7961,666094000022159362,2015-11-16 03:22:39 +0000,Twitter for iPhone,This appears to be a Mongolian Presbyterian mi...,https://twitter.com/dog_rates/status/666094000...,None,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,163.0,73.0,7378045.0,None,bloodhound,0.195217,9,10,1,NaN
7962,666082916733198337,2015-11-16 02:38:37 +0000,Twitter for iPhone,Here we have a well-established sunblockerspan...,https://twitter.com/dog_rates/status/666082916...,None,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,116.0,44.0,7378045.0,None,pug,0.489814,6,10,1,NaN
7963,666073100786774016,2015-11-16 01:59:36 +0000,Twitter for iPhone,Let's hope this flight isn't Malaysian (lol). ...,https://twitter.com/dog_rates/status/666073100...,None,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,319.0,163.0,7378045.0,None,Walker_hound,0.260857,10,10,1,NaN
7964,666071193221509120,2015-11-16 01:52:02 +0000,Twitter for iPhone,Here we have a northern speckled Rhododendron....,https://twitter.com/dog_rates/status/666071193...,None,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,145.0,59.0,7378045.0,None,Gordon_setter,0.503672,9,10,1,NaN
7965,666063827256086533,2015-11-16 01:22:45 +0000,Twitter for iPhone,This is the happiest dog you will ever see. Ve...,https://twitter.com/dog_rates/status/666063827...,the,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,471.0,216.0,7378045.0,None,golden_retriever,0.775930,10,10,1,NaN
7966,666058600524156928,2015-11-16 01:01:59 +0000,Twitter for iPhone,Here is the Rand Paul of retrievers folks! He'...,https://twitter.com/dog_rates/status/666058600...,the,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,111.0,57.0,7378045.0,None,miniature_poodle,0.201493,8,10,1,NaN
7967,666057090499244032,2015-11-16 00:55:59 +0000,Twitter for iPhone,My oh my. This is a rare blond Canadian terrie...,https://twitter.com/dog_rates/status/666057090...,a,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,294.0,141.0,7378045.0,None,golden_retriever,0.007959,9,10,1,NaN
7968,666055525042405380,2015-11-16 00:49:46 +0000,Twitter for iPhone,Here is a Siberian heavily armored polar bear ...,https://twitter.com/dog_rates/status/666055525...,a,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,433.0,246.0,7378045.0,None,chow,0.692517,10,10,1,NaN
7969,666051853826850816,2015-11-16 00:35:11 +0000,Twitter for iPhone,This is an odd dog. Hard on the outside but lo...,https://twitter.com/dog_rates/status/666051853...,an,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1208.0,843.0,7378045.0,None,NaN,0.000000,2,10,1,NaN
7970,666050758794694657,2015-11-16 00:30:50 +0000,Twitter for iPhone,This is a truly beautiful English Wilson Staff...,https://twitter.com/dog_rates/status/666050758...,a,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,132.0,59.0,7378045.0,None,Bernese_mountain_dog,0.651137,10,10,1,NaN
7971,666049248165822465,2015-11-16 00:24:50 +0000,Twitter for iPhone,Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,None,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,108.0,40.0,7378045.0,None,miniature_pinscher,0.560311,5,10,1,NaN
7972,666044226329800704,2015-11-16 00:04:52 +0000,Twitter for iPhone,This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,a,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,295.0,139.0,7378045.0,None,Rhodesian_ridgeback,0.408143,6,10,1,NaN
7973,666033412701032449,2015-11-15 23:21:54 +0000,Twitter for iPhone,Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,a,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,125.0,44.0,7378045.0,None,German_shepherd,0.596461,9,10,1,NaN
7974,666029285002620928,2015-11-15 23:05:30 +0000,Twitter for iPhone,This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,a,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,128.0,47.0,7378045.0,None,redbone,0.506826,7,10,1,NaN
7975,666020888022790149,2015-11-15 22:32:08 +0000,Twitter for iPhone,Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,None,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,2549.0,508.0,7378045.0,None,Welsh_springer_spaniel,0.465074,8,10,1,NaN

In [89]:
# Let's delete the old name column now
df_master = df_master.drop(['name'], 1)

# Test
list(df_master)

['tweet_id',
 'timestamp',
 'source',
 'text',
 'expanded_urls',
 'jpg_url',
 'favorites',
 'retweets',
 'user_followers',
 'dog_stage',
 'prediction_algorithm',
 'confidence_level',
 'rating_numerator',
 'rating_denominator',
 'dogs_count',
 'dog_name']

### Get Dogs gender column from text column

In [90]:
# Loop on all the texts and check if it has one of pronouns of male or female
# and append the result in a list

male = ['He', 'he', 'him', 'his', "he's", 'himself']
female = ['She', 'she', 'her', 'hers', 'herself', "she's"]

dog_gender = []

for text in df_master['text']:
    # Male
    if any(map(lambda v:v in male, text.split())):
        dog_gender.append('male')
    # Female
    elif any(map(lambda v:v in female, text.split())):
        dog_gender.append('female')
    # If group or not specified
    else:
        dog_gender.append('NaN')

# Test
len(dog_gender)

# Save the result in a new column 'dog_name'
df_master['dog_gender'] = dog_gender

# Test
print("dog_gender count \n", df_master.dog_gender.value_counts())

dog_gender count
 NaN       4528
male      2544
female     904
Name: dog_gender, dtype: int64

### Convert the null values to None type

In [91]:
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 17 columns):
tweet_id                7976 non-null int64
timestamp               7976 non-null object
source                  7976 non-null object
text                    7976 non-null object
expanded_urls           7976 non-null object
jpg_url                 7976 non-null object
favorites               7972 non-null float64
retweets                7972 non-null float64
user_followers          7972 non-null float64
dog_stage               7976 non-null object
prediction_algorithm    7976 non-null object
confidence_level        7976 non-null float64
rating_numerator        7976 non-null object
rating_denominator      7976 non-null object
dogs_count              7976 non-null object
dog_name                7976 non-null object
dog_gender              7976 non-null object
dtypes: float64(4), int64(1), object(12)
memory usage: 1.0+ MB

In [92]:
df_master.loc[df_master['prediction_algorithm'] == 'NaN', 'prediction_algorithm'] = None
df_master.loc[df_master['dog_name'] == 'NaN', 'dog_name'] = None
df_master.loc[df_master['dog_gender'] == 'NaN', 'dog_gender'] = None
df_master.loc[df_master['rating_numerator'] == 'NaN', 'rating_numerator'] = 0
df_master.loc[df_master['rating_denominator'] == 'NaN', 'rating_denominator'] = 0

In [93]:
# Test
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 17 columns):
tweet_id                7976 non-null int64
timestamp               7976 non-null object
source                  7976 non-null object
text                    7976 non-null object
expanded_urls           7976 non-null object
jpg_url                 7976 non-null object
favorites               7972 non-null float64
retweets                7972 non-null float64
user_followers          7972 non-null float64
dog_stage               7976 non-null object
prediction_algorithm    6744 non-null object
confidence_level        7976 non-null float64
rating_numerator        7976 non-null object
rating_denominator      7976 non-null object
dogs_count              7976 non-null object
dog_name                5476 non-null object
dog_gender              3448 non-null object
dtypes: float64(4), int64(1), object(12)
memory usage: 1.0+ MB

## Convert each column to its appropriate field

In [94]:
df_master.dtypes

tweet_id                  int64
timestamp                object
source                   object
text                     object
expanded_urls            object
jpg_url                  object
favorites               float64
retweets                float64
user_followers          float64
dog_stage                object
prediction_algorithm     object
confidence_level        float64
rating_numerator         object
rating_denominator       object
dogs_count               object
dog_name                 object
dog_gender               object
dtype: object

In [97]:
df_master['tweet_id'] = df_master['tweet_id'].astype(object)
df_master['timestamp'] = pd.to_datetime(df_master.timestamp)
df_master['source'] = df_master['source'].astype('category')
#df_master['favorites'] = df_master['favorites'].astype(int)
#df_master['retweets'] = df_master['retweets'].astype(int)
#df_master['user_followers'] = df_master['user_followers'].astype(int)
df_master['dog_stage'] = df_master['dog_stage'].astype('category')
df_master['rating_numerator'] = df_master['rating_numerator'].astype(float)
df_master['rating_denominator'] = df_master['rating_denominator'].astype(float)
df_master['dogs_count'] = df_master['dogs_count'].astype(int)
df_master['dog_gender'] = df_master['dog_gender'].astype('category')

# Test
df_master.dtypes

tweet_id                        object
timestamp               datetime64[ns]
source                        category
text                            object
expanded_urls                   object
jpg_url                         object
favorites                      float64
retweets                       float64
user_followers                 float64
dog_stage                     category
prediction_algorithm            object
confidence_level               float64
rating_numerator               float64
rating_denominator             float64
dogs_count                       int64
dog_name                        object
dog_gender                    category
dtype: object

## Rename columns to be more expressive and Clean if needed

In [98]:
df_master = df_master.rename(columns = {'timestamp': 'tweet_date', 'source': 'tweet_source', 'text': 'tweet_text', 
                                        'expanded_urls': 'tweet_url', 'jpg_url': 'tweet_picture_predicted', 
                                        'favorites': 'tweet_favorites', 'retweets': 'tweet_retweets',
                                        'prediction_algorithm' : 'dog_breed'})

In [99]:
# All rating_denominator has one value 10
# We will delete this column
print(df_master.rating_denominator.value_counts())
df_master.drop('rating_denominator', 1, inplace = True)

10.0     7924
50.0        8
80.0        8
70.0        4
170.0       4
110.0       4
150.0       4
90.0        4
130.0       4
120.0       4
40.0        4
0.0         4
Name: rating_denominator, dtype: int64

## Storing, Analyzing, and Visualizing Data

In [100]:
# Store the clean DataFrame in a CSV file
df_master.to_csv('twitter_archive_master.csv', index=False, encoding = 'utf-8')

In [101]:
df_master = pd.read_csv('twitter_archive_master.csv')
df_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7976 entries, 0 to 7975
Data columns (total 16 columns):
tweet_id                   7976 non-null int64
tweet_date                 7976 non-null object
tweet_source               7976 non-null object
tweet_text                 7976 non-null object
tweet_url                  7976 non-null object
tweet_picture_predicted    7976 non-null object
tweet_favorites            7972 non-null float64
tweet_retweets             7972 non-null float64
user_followers             7972 non-null float64
dog_stage                  7976 non-null object
dog_breed                  6744 non-null object
confidence_level           7976 non-null float64
rating_numerator           7976 non-null float64
dogs_count                 7976 non-null int64
dog_name                   5476 non-null object
dog_gender                 3448 non-null object
dtypes: float64(5), int64(2), object(9)
memory usage: 997.1+ KB